
<div>Obtenir les jeux de</div>
<input type="number" name="id" id="id" [(ngModel)]="id">
<button type="submit" (click)="getGameByUserID()">Envoyer requête</button>
<div *ngFor="let gameID of gameListByUD">
  <p>{{gameID.name}}</p>
  <p><img [src]=gameID.background_image alt="affiche de {{gameID.name}}"></p>
</div>

<hr>
<div *ngFor="let game of gamesList index as i" (click)=showDetails(i)>

  <p><img [src]=game.background_image alt="affiche de {{game.name}}"></p>
  <button type="submit" (click)="deleteGame(game.id)">Supprimer</button>
</div>
