<form (submit)="myForm.valid && addNewGame()" #myForm="ngForm">

  <label for="name">Nom du jeu : </label>
  <input type="text"
  [(ngModel)]="newGame.name"
  name="name"
  #name="ngModel"
  required>
  <div *ngIf="name.errors && myForm.submitted">
    <div *ngIf="name.errors.required">
      Name is required
    </div>
  </div>

  <label for="imageUrl">Affiche</label>
  <input type="text"
  [(ngModel)]="newGame.background_image"
  name="background_image"
  #background_image="ngModel"
  required>
  <div *ngIf="background_image.errors && myForm.submitted">
    <div *ngIf="background_image.errors.required">
      ImageUrl is required
    </div>
  </div>

  <label for="rating">Note : </label>
  <input type="number"
  [(ngModel)]="newGame.rating"
  name="rating"
  #rating="ngModel"
  required
  min="0"
  max="5">
  <div *ngIf="rating.errors && myForm.submitted">
    <div *ngIf="rating.errors.required">
      Rating is required
    </div>
  </div>

  <button type="submit">Ajoute le jeu</button>
  <div *ngIf="myForm.valid && myForm.submitted">
    <p>{{newGame.name}} a été ajouté aux Jeux ! </p>
  </div>
</form>
<button routerLink="">Revenir aux Jeux</button>


